html {
    font-family: Tahoma, Verdana, sans-serif;
    font-size: medium;
    padding: 20px;
    background-color: whitesmoke;
}

a {
    color: #444;
    text-decoration: none;
}

p,
h2 {
    color: #444;
}

button {
    padding: 5px 20px;
    font-size: medium;
    font-weight: bold;
    color: gray;
    background-color: whitesmoke;
    border-radius: 5px;
    border: #ccc solid 1px;
}

.base-container {
    background-color: whitesmoke;
    border-radius: 5px;
    border: #ccc solid 1px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 10px;
    background-color: #e6e6e6;
    border-radius: 5px;
}

.flex-inner {
    background-color: black;
    margin-right: 10px;
    border-radius: 5px;
    border: #ccc solid 1px;
}

.flex-container div strong {
    float: left;
}

.flex-container div button {
    float: right;
    margin-right: 10px;
}
